export TF_DATA_DIR=/home/vagrant/github/learn-terraform-from-scratch/.terraform/
alias terraform=/usr/local/bin/terraform1.2.6
export TF_VAR_aws_access_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
export TF_VAR_aws_secret_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx