export TF_DATA_DIR=/Users/pengxiao/PycharmProjects/learn-terraform-from-scratch/code/.terraform

# Mac & Linux
export TF_VAR_aws_access_key=**************************
export TF_VAR_aws_secret_key=**************************


# windows
$env:TF_VAR_aws_access_key="**************************"
$env:TF_VAR_aws_secret_key="**************************"


export AWS_ACCESS_KEY_ID=**************************
export AWS_SECRET_ACCESS_KEY=**************************